footer.footercontent
    .wrapper
        .footer
            .left
                .left__messenger
                    div
                        a(href="#")
                            span Мы в Messenger
                .left__telegram
                    div
                        a(href="#")
                            span Мы в telegram
                .left__viber
                    div
                        a(href="#")
                            span Мы в viber
            .center
                .center__block
                    a(href="") карта сайта
                    a(href="") о сервисе
                    a(href="") услуги
                    a(href="") вопросы
                .center__block
                    a(href="") Работа в нашей компании
                    a(href="") Стать клинером
                    a(href="") вакансии
                    a(href="") личный кабинет

            .right
                .right__top
                    span © 2018. Все права защищены
                    a(href="tel:88005696536") 8 800 569 65 36
                    a(href="#") clean@gmail.com
                .right__bottom
                    div.youtube
                        a(href="#")
                            svg(width="49" height="49")
                                use(xlink:href="./images/sprite/sprite.svg#youtube")
                    div.facebook
                        a(href="#")
                            svg(width="49" height="49")
                                use(xlink:href="./images/sprite/sprite.svg#facebook")
                    div.instagram
                        a(href="#")
                            svg(width="49" height="49")
                                use(xlink:href="./images/sprite/sprite.svg#instagram")


                    