header.hoadercontent
    .wrapper
        .header
            .header__left
                .header__logo
                    a(href="./index.html") Профессиональная клиннинговая компания
            .header__right
                .menu   
                    .menu__1
                        a(href="#") услуги
                    .menu__2
                        a(href="#") о сервисе
                    .menu__3
                        a(href="#") вопросы
                    .menu__4
                        a(href="#") личный кабинет
                .number
                    a.number__1(href="tel:8805236565") 8 800 523 65 65
                    //- a.number__2(href="#") Заказать обратный звонок

            .adaptmenu#adaptmenu
                .adaptmenu__paragraph
                    .close#close
                    a(href="./index.html") Главная
                    a(href="./projects.html") Проекты
                    a(href="./materials.html") Из чего мы строим
                    a(href="./services.html") Наши услуги 
                    a(href="./price.html") Цены
                    a(href="./about.html") О нас
                    a(href="./gallery.html") Фото
                    a(href="./contacts.html") Контакты
                    a(href="./info.html") Блог


            