extends ../template

block varibles
    - var title = "Main"

block content
   
    .content
        header.hoadercontent.hoadercontent_blu
            .wrapper
                .header
                    .header__left
                        .header__logo
                            a(href="./index.html") 
                                svg(width="49" height="49")
                                    use(xlink:href="./images/sprite/sprite.svg#logo-cleaner")
                    .header__right
                        .menu   
                            .menu__paragraph.menu__paragraph_color#requrepopap2
                                a(href="#") услуги
                            .menu__paragraph.menu__paragraph_color#requrepopap3
                                a(href="#") о сервисе
                            .menu__paragraph.menu__paragraph_color#requrepopap4
                                a(href="#") вопросы
                            .menu__paragraph.menu__paragraph_color#requrepopap5
                                a(href="#") личный кабинет
                        .number
                            a.number__1.number__1_color(href="tel:+380674886845") +380 67 488 68 45
                            //- a.number__2.number__2_color(href="#") Заказать обратный звонок
                        .btnadapt#btnadapt 
                            svg.svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px"', viewBox='0 0 49 24', enable-background='new 0 0 49 24', xml:space='preserve')
                                path(d='M1.1,3.5C0.5,3.5,0,3,0,2.4V1.7c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.7 c0,0.6-0.5,1.1-1.1,1.1H1.1z M1.1,13.8c-0.6,0-1.1-0.5-1.1-1.1V12c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.7 c0,0.6-0.5,1.1-1.1,1.1H1.1z M16.2,24c-0.6,0-1.1-0.5-1.1-1.1v-0.6c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.6 c0,0.6-0.5,1.1-1.1,1.1H16.2z')

                    .adaptmenu#adaptmenu
                        .adaptmenu__paragraph
                            .close#close
                            a(href="#") Услуги
                            a(href="#") О сервисе
                            a(href="#") Вопросы
                            a(href="#") Личный кабинет
                            

        section.onecontent
            .wrapper
                .sectone
                    .sectone__left
                        form.form
                            .form__title
                                p Сервис регулярных уборок в Одессе
                            .form__input.calc
                                .calc__quantity-block.quantity-block
                                    button.calc__quantity-arrow-plus.quantity-arrow-plus.arrowinput(type="button")
                                        span +
                                    input#count_rooms.calc__quantity-num.quantity-num(type='text', value='1' readonly="readonly" )
                                    button.quantity-arrow-minus.arrow-minus.arrowinput(type="button")
                                        span -
                                    .t - комнатная
                            .form__input.calc
                                .calc__quantity-block.quantity-block
                                    button.calc__quantity-arrow-plus.quantity-arrow-plus2.arrowinput(type="button")
                                        span +
                                    input#count_suns.calc__quantity-num.quantity-num2(type='text', value='1' readonly="readonly")
                                    button.quantity-arrow-minus2.arrow-minus.arrowinput(type="button")
                                        span -
                                    .t - санузел
                            .form__input.phone
                                input.inputphonesfontsize#phone(type="tel"  placeholder='(ХХХ) 222-22-22')
                                div
                                    span +38
                            #selectvalid
                            .form__button
                                .btnform.btnhover#btn_step1(tupe="button")
                                    span узнать стоимость
                                                                                //(type="submit")

                    .sectone__right  
                        .sectone__righttitle
                            p Выбрось швабру
                            p - займись делом

        section
            .wrapper
                .secttwoo
                    .secttwoo__titleblock
                        .maintitle
                            p Как это работает?
                    .secttwoo__blocks   
                        .blockitem
                            .blockitem__title
                                p Оформление заказа
                            .blockitem__text
                                p Менеджер перезвонит и подтвердит уборку
                            .blockitem__icon
                                img(src="./images/secttwoo1.png", alt="") 
                        .blockitem
                            .blockitem__title
                                p Выполнение уборки
                            .blockitem__text
                                p После уборки клинер предоставит чеклист для проверки
                            .blockitem__icon
                                img(src="./images/secttwoo2.png", alt="")  
                        .blockitem
                            .blockitem__title
                                p Оплата
                            .blockitem__text
                                p Банковской картой или наличными после окончания уборки
                            .blockitem__icon
                                img(src="./images/secttwoo3.png", alt="")  
                    
        section
            .wrapper
                .sectthree
                    .sectthree__title
                        .maintitle
                            p Что входит в уборку?  
                    .sectthree__navbar
                        .sectthree__navparagraph.activ#requrepopap16
                            
                            span В КОМНАТЕ
                        .sectthree__navparagraph.activhover#requrepopap17
                           
                            span В КОридоре
                        .sectthree__navparagraph.activhover#requrepopap18
                            
                            span В Кухне
                        .sectthree__navparagraph.activhover#requrepopap19
                            
                            span В ванной
                    .sectthree__blockfoto
                        //- img(src="./images/sectthree.png", alt="")
                    .sectthree__blockbutton
                        div#requrepopap.btnhover
                            span полный список >
            
        section.fourcontent
            .wrapper
                .sectfour 
                    .sectfourwrapper 
                        .sectfour__title
                            .maintitle.maintitle_color
                                p Наши преимущества
                        .sectfour__blocks
                            .blockitem 
                                .blockitem__img 
                                    img(src="./images/sectfour1.png", alt="")
                                .blockitem__title
                                    p Удобное время
                                .blockitem__text
                                    p Вы сами выбираете время, удобное для уборки, с помощью сайта
                                .blockitem__bg
                                    p 1
                            .blockitem 
                                .blockitem__img 
                                    img(src="./images/sectfour2.png", alt="")
                                .blockitem__title.blockitem__title_mrg
                                    p надежные исполнители
                                .blockitem__text
                                    p Мы тщательно отбираем и обучаем каждого клинера, и реагируем на ваши отзывы
                                .blockitem__bg
                                    p 2
                            .blockitem 
                                .blockitem__img 
                                    img(src="./images/sectfour3.png", alt="")
                                .blockitem__title
                                    p Система скидок
                                .blockitem__text
                                    p Расскажи друзьям о Cleaner или получи корпоративную скидку для сотрудников
                                .blockitem__bg
                                    p 3
                            .blockitem 
                                .blockitem__img 
                                    img(src="./images/sectfour4.png", alt="")
                                .blockitem__title.blockitem__title_mrg
                                    p Страхуем на большую сумму
                                .blockitem__text
                                    p Если что-то пойдет не так, мы возместим ущерб из резервного фонда Cleaner!
                                .blockitem__bg
                                    p 4

        section.fivecontent
            .wrapper
                .sectfive 
                    .sectfive__title
                        .maintitle
                            p Кто убирает?
                    .sectfive__blocks
                        .bloc
                            .blockitem
                                .blockitem__foto
                                    img(src="./images/sectfive1.png", alt="")
                                .blockitem__name
                                    p Елена
                                .blockitem__old
                                    p 30 лет
                                .blockitem__text    
                                    p Милая и легкая в общении, исполнительная и старательная в работе. 
                                .blockitem__star
                                    img(src="./images/star5.png", alt="")
                                .blockitem__blockbutton#requrepopap6
                                    div
                                        a(href="javascript: void(0);")
                                            span отзывы
                        .bloc
                            .blockitem
                                .blockitem__foto
                                    img(src="./images/sectfive2.png", alt="")
                                .blockitem__name
                                    p Богдана
                                .blockitem__old
                                    p 35 лет
                                .blockitem__text    
                                    p Быстрая, трудолюбивая, стрессоустойчивая. Выполняет уборку шустро, но бережно. 
                                .blockitem__star
                                    img(src="./images/star5.png", alt="")
                                .blockitem__blockbutton#requrepopap7
                                    div
                                        a(href="javascript: void(0);")
                                            span отзывы
                        .bloc
                            .blockitem
                                .blockitem__foto
                                    img(src="./images/sectfive3.png", alt="")
                                .blockitem__name
                                    p Лариса
                                .blockitem__old
                                    p 28 лет
                                .blockitem__text    
                                    p Лариса по жизни очень активный и позитивный человек! Всегда с искренней улыбкой.
                                .blockitem__star
                                    img(src="./images/star4.png", alt="")
                                .blockitem__blockbutton#requrepopap8
                                    div
                                        a(href="javascript: void(0);")
                                            span отзывы
                        .bloc
                            .blockitem
                                .blockitem__foto
                                    img(src="./images/sectfive4.png", alt="")
                                .blockitem__name
                                    p Елена
                                .blockitem__old
                                    p 30 лет
                                .blockitem__text    
                                    p Милая и легкая в общении, исполнительная и старательная в работе. 
                                .blockitem__star
                                    img(src="./images/star5.png", alt="")
                                .blockitem__blockbutton#requrepopap9
                                    div
                                        a(href="javascript: void(0);")
                                            span отзывы
                        .bloc
                            .blockitem
                                .blockitem__foto
                                    img(src="./images/sectfive5.png", alt="")
                                .blockitem__name
                                    p Богдана
                                .blockitem__old
                                    p 35 лет
                                .blockitem__text    
                                    p Быстрая, трудолюбивая, стрессоустойчивая. Выполняет уборку шустро, но бережно. 
                                .blockitem__star
                                    img(src="./images/star5.png", alt="")
                                .blockitem__blockbutton#requrepopap10
                                    div
                                        a(href="javascript: void(0);")
                                            span отзывы
                        .bloc
                            .blockitem
                                .blockitem__foto
                                    img(src="./images/sectfive6.png", alt="")
                                .blockitem__name
                                    p Лариса
                                .blockitem__old
                                    p 28 лет
                                .blockitem__text    
                                    p Лариса по жизни очень активный и позитивный человек! Всегда с искренней улыбкой.
                                .blockitem__star
                                    img(src="./images/star4.png", alt="")
                                .blockitem__blockbutton#requrepopap11
                                    div
                                        a(href="javascript: void(0);")
                                            span отзывы

                    .sectfive__blockbutton#requrepopap12
                        div
                            a(href="javascript: void(0);")
                                span все клинеры >
                
        section.sixcontent
            .wrapper
                .six  
                    .six__title
                        .maintitle
                            p Сколько это стоит?  
                    .six__blocks
                        .itemblockwrap
                            .itemblock
                                .itemblock__title
                                    p Однокомнатная
                                .itemblock__img
                                    img(src="./images/six.png", alt="")
                                .itemblock__text
                                    p Уборка однокомнатной квартиры с 1 санузлом один раз
                                .itemblock__price
                                    p 
                                        | от 
                                        span
                                            | 480 
                                        | грн
                                .itemblock__button
                                    div
                                        a(href="./order.html")
                                            span Заказать
                        .itemblockwrap
                            .itemblock
                                .itemblock__title
                                    p Двухкомнатная
                                .itemblock__img
                                    img(src="./images/six.png", alt="")
                                .itemblock__text
                                    p Уборка двухкомнатной квартиры с 1 санузлом один раз
                                .itemblock__price
                                    p 
                                        | от 
                                        span
                                            | 600
                                        | грн
                                .itemblock__button
                                    div
                                        a(href="./order.html")
                                            span Заказать
                        .itemblockwrap
                            .itemblock
                                .itemblock__title
                                    p Трехкомнатная
                                .itemblock__img
                                    img(src="./images/six.png", alt="")
                                .itemblock__text
                                    p Уборка трехкомнатной квартиры с 1 санузлом один раз
                                .itemblock__price
                                    p 
                                        | от 
                                        span
                                            | 720 
                                        | грн
                                .itemblock__button
                                    div
                                        a(href="./order.html")
                                            span Заказать
        section.sevencontent
            .wrapper
                .review
                    .review__title
                        .maintitle
                            p Отзывы наших клиентов
                    .review__slider
                        .swiper-container
                            .swiper-wrapper 
                                .swiper-slide
                                    .slid
                                        .swiper-pagination
                                        .slid__title
                                            p татьяна
                                        .slid__date
                                            p 03.09.2018
                                        .slid__text
                                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. 
                                .swiper-slide
                                    .slid
                                        .swiper-pagination
                                        .slid__title
                                            p татьяна
                                        .slid__date
                                            p 03.09.2018
                                        .slid__text
                                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. 
                                .swiper-slide
                                    .slid
                                        .swiper-pagination
                                        .slid__title
                                            p татьяна
                                        .slid__date
                                            p 03.09.2018
                                        .slid__text
                                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. 
                                .swiper-slide
                                    .slid
                                        .swiper-pagination
                                        .slid__title
                                            p татьяна
                                        .slid__date
                                            p 03.09.2018
                                        .slid__text
                                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. 
                                .swiper-slide
                                    .slid
                                        .swiper-pagination
                                        .slid__title
                                            p татьяна
                                        .slid__date
                                            p 03.09.2018
                                        .slid__text
                                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. 
                                .swiper-slide
                                    .slid
                                        .swiper-pagination
                                        .slid__title
                                            p татьяна
                                        .slid__date
                                            p 03.09.2018
                                        .slid__text
                                            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. 

                            
                            .swiper-button-next
                            .swiper-button-prev

        section.eightcontent
            .wrapper
                .faq
                    .faq__title
                        .maintitle.maintitle_color
                            p часто задаваемые вопросы:
                    .faq__blocks
                        .itebblock
                            .itebblock__top#top1
                                .titlefaq
                                    p Выполняете ли вы заказы в частных домах, коттеджах, таунхаусах и на дачах?
                                .arrow
                                    img(src="./images/arrowdown.png", alt="")
                            .itebblock__bottom#bottom1
                                .textfaq
                                    p Список услуг нашей клининговой компании включает не только уборку частных квартир. Чтобы привести в порядок, например, вашу дачу, к вам приедут сразу несколько клинеров с инвентарём и запасом чистящих средств. Бригадир выяснит у вас особенности дома, поставит задачу команде и проследит за её работой. Звоните нам по номеру +380 67 488 68 45
                        .itebblock
                            .itebblock__top#top2
                                .titlefaq
                                    p Вы уже делаете уборку квартир в Одессе. Когда появитесь в других городах?
                                .arrow
                                    img(src="./images/arrowdown.png", alt="")
                            .itebblock__bottom#bottom2
                                .textfaq
                                    p Цель, к которой наша клининговая компания постепенно идёт, — оказывать свои услуги на том же высоком уровне и в других регионах. Но, чтобы отладить все тонкости и не увеличивать расценки на уборку квартир, нам потребуется некоторое время.
                        .itebblock
                            .itebblock__top#top3
                                .titlefaq
                                    p Могу ли я заказать уборку квартиры и уйти по делам, когда приедет клинер?
                                .arrow
                                    img(src="./images/arrowdown.png", alt="")
                            .itebblock__bottom#bottom3
                                .textfaq
                                    p Спокойно оставляйте клинера наводить чистоту и отправляйтесь по делам. Добавьте дополнительные опции по забору и доставке ключей — клинер приедет, куда скажете, заберёт у вас ключи и потом привезёт их обратно. К цене уборки квартиры в этом случае добавится небольшая сумма.
                        .itebblock
                            .itebblock__top#top4
                                .titlefaq
                                    p Вы сможете помыть потолки, жалюзи и всё, до чего сложно дотянуться?
                                .arrow
                                    img(src="./images/arrowdown.png", alt="")
                            .itebblock__bottom#bottom4
                                .textfaq
                                    p Уборка квартир в Москве — и других крупных городах — означает, что грязь дома регулярно приходится вычищать из труднодоступных мест. Приготовьте стремянку, и мы протрём доступные вертикальные и горизонтальные поверхности даже на высоте. Потолки, жалюзи и стены мы не моем — в рюкзак клинера не поместится нужный инвентарь.

        section.ninecontent
            .wrapper
                .formblock
                    .formblock__title
                        .maintitle
                            p Рассчитать стоимость уборки
                    .formblock__text
                        p Закажите услуги в сервисе регулярных уборок.
                    .form__inputblock
                        form.form.calc(form action="./order.html" method="get")
                            .calc__quantity-block.quantity-block
                                button.calc__quantity-arrow-plus.quantity-arrow-plus.wdht.arrowinput(type="button")
                                    span +
                                input.calc__quantity-num.quantity-num(type='text', value='1' readonly="readonly" )
                                button.quantity-arrow-minus.arrow-minus.wdht.arrowinput(type="button")
                                    span -
                                .t - комнатная
                            .calc__quantity-block.quantity-block
                                button.calc__quantity-arrow-plus.quantity-arrow-plus2.wdht.arrowinput(type="button")
                                    span +
                                input.calc__quantity-num.quantity-num2(type='text', value='1' readonly="readonly")
                                button.quantity-arrow-minus2.arrow-minus.wdht.arrowinput(type="button")
                                    span -
                                .t - санузел
                            .form__input.phone
                                input.inputphonesfontsize#phone2(type="tel" placeholder='(ХХХ) 222-22-22')
                                div.wdht
                                    span +38
                            button.buttonform.btnhover(type="submit")
                                span узнать стоимость




                                







        
        
        
        include ../common/footer.pug
        include ../common/popap.pug


    script.

        $(document).ready(() => {

            let global_result = window.localStorage.getItem('global_result') || 0; //undefined
            let weeks_rez = 1;
            let dishes_rez = 0;
            let freq_text = 'Один раз';
            let discount = '';
            let bold = '';

            const $count_rooms_el = $('#count_rooms');
            const $count_suns_el = $('#count_suns');

            const btn_step1 = $('#btn_step1');

            function recount(argument) {
                $('#global_sum_result').html(global_result * weeks_rez + dishes_rez);
                $('#global_sum_result2').html(global_result * weeks_rez + dishes_rez);
                $('#global_sum_result3').html(global_result * weeks_rez + dishes_rez);
                $('#global_sum_result4').html(global_result * weeks_rez + dishes_rez);
                $('#global_sum_result5').html(global_result * weeks_rez + dishes_rez);
                $('#regulirity').html(freq_text);
                $('#regulirity2').html(freq_text);
                $('#regulirity3').html(freq_text);
                $('#regulirity4').html(freq_text);
                $('#bold').html(bold);
                if (discount) {
                    $('#discount').show();
                    $('#discount2').show();
                    $('#discount').html(discount);
                    $('#discount2').html(discount);
                }
                else {
                    $('#discount').hide();
                    $('#discount2').hide();
                }
            }
            recount();


            btn_step1.on('click', () => {
                const count_rooms_el_val = $count_rooms_el.val();
                const count_suns_el_val = $count_suns_el.val();
                global_result = +count_rooms_el_val + +count_suns_el_val;
                if(global_result === 2) {
                    window.localStorage.setItem('global_result', global_result + 478);
                }
                else if(global_result === 3) {
                    window.localStorage.setItem('global_result', global_result + 597);
                }
                else if(global_result === 4) {
                    window.localStorage.setItem('global_result', global_result + 716);
                }

                else{
                    window.localStorage.setItem('global_result', 770);
                }
                

                window.location.assign('./order.html');
            });


            $('.freq').on('click', () => {
                const $checkedRadio = $(".freq:checked");
                weeks_rez = $checkedRadio.val();
                freq_text = $checkedRadio.attr('data-text');
                discount = $checkedRadio.attr('data-discount');
                bold = $checkedRadio.attr('data-bold');
            

                recount();
            });

            $('.dishes').on('click', () => {
                const dishes = $(".dishes:checked");
                dishes_rez = 0;

                for (var i = 0; i < dishes.length; i++) {
                    dishes_rez += +$(dishes[i]).val();
                }

                recount();
            });
        });




        
