extends ../template

block varibles
    - var title = "Order"

block content

    form.content
        header.hoadercontent
            .wrapper
                .header
                    .header__left
                        .header__logo.orderlogo
                            a(href="./index.html") 
                                svg(width="49" height="49")
                                    use(xlink:href="./images/sprite/sprite.svg#logo-cleaner")
                    .header__right
                        .menu   
                            .menu__paragraph#requrepopap9
                                a(href="#") услуги
                            .menu__paragraph#requrepopap10
                                a(href="#") о сервисе
                            .menu__paragraph#requrepopap11
                                a(href="#") вопросы
                            .menu__paragraph#requrepopap12
                                a(href="#") личный кабинет
                        .number
                            a.number__1(href="tel:8805236565") 8 800 523 65 65
                            //- a.number__2(href="#") Заказать обратный звонок

                        .btnadapt.btnadapt_col#btnadapt 
                            svg.svg.svg2(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px"', viewBox='0 0 49 24', enable-background='new 0 0 49 24', xml:space='preserve')
                                path(d='M1.1,3.5C0.5,3.5,0,3,0,2.4V1.7c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.7 c0,0.6-0.5,1.1-1.1,1.1H1.1z M1.1,13.8c-0.6,0-1.1-0.5-1.1-1.1V12c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.7 c0,0.6-0.5,1.1-1.1,1.1H1.1z M16.2,24c-0.6,0-1.1-0.5-1.1-1.1v-0.6c0-0.6,0.5-1.1,1.1-1.1H47c0.6,0,1.1,0.5,1.1,1.1v0.6 c0,0.6-0.5,1.1-1.1,1.1H16.2z')
        
                    .adaptmenu#adaptmenu
                        .adaptmenu__paragraph
                            .close#close
                            a(href="./index.html") Главная
                            a(href="./projects.html") Проекты
                            a(href="./materials.html") Из чего мы строим
                            a(href="./services.html") Наши услуги 
                            a(href="./price.html") Цены
                            a(href="./about.html") О нас
                            a(href="./gallery.html") Фото
                            a(href="./contacts.html") Контакты
                            a(href="./info.html") Блог

        section.onepadding
            .wrapper
                .section_one
                    .section_one__left
                        .block1#popap
                            .block1__titlebig
                                p Оформление заказа
                            .title
                                p Как к вам обращаться:
                            .block1__blockform
                                .block1__name
                                    input(type="text" placeholder="Имя*" required)#input1
                                .block1__surname
                                    input(type="text" placeholder="Фамилия*" required)
                                .block1__email
                                    input(type="email" placeholder="Email*" required)
                        .block2
                            .title
                                p когда к вам приехать:
                            .block2__blocinput
                                .block2__day
                                    input(type="date" value="2018-09-26")
                                .block2__month
                                    input(type="time" value="09:00")
                            .title
                                p как часто необходимо убирать?
                            .block2__blockblocks
                                //- .block#block3
                                //-     p Раз в неделю - 20%
                                //- .block#block2
                                //-     p Раз в две недели - 10%
                                //- .block#block1
                                //-     p Один раз
                                label
                                    input(type="radio" name="freq" value='0.8' class="freq" data-text="Раз в неделю" data-discount="20%" data-bold="fdfdf") 
                                    .block#block3
                                        p Раз в неделю - 20%
                                label
                                    input(type="radio" name="freq" value='0.9' class="freq" data-text="Раз в две недели" data-discount="10%" data-bold="dfdfdf")
                                    .block#block2
                                        p Раз в две недели - 10%
                                label
                                    input(type="radio" name="freq" value='1' class="freq" data-text="Один раз" data-bold="sdsdsds" checked)
                                    .block#block1
                                        p Один раз
                        .block3
                            .title
                                p Выберите адрес:
                            .block3__blockinputs
                                .block3__sity
                                    input(type="text" placeholder="Одесса" required)
                                .block3__street
                                    input(type="text" placeholder="Улица*" required)
                                .block3__hous
                                    input(type="text" placeholder="Дом*" required)
                                .block3__apartment
                                    input(type="text" placeholder="Квартира*" required)
                    .section_one__right.adapthidden
                        .top#aside1
                            .top__title
                                p Уборка квартиры с 1 жилой и 1 ванной комнатами
                            .top__blocktext
                                .top__text 
                                    .bl 
                                        p Дата уборки
                                        span Ср 26 Сен 09:00
                                .top__text  
                                    .bl
                                        p Время уборки
                                        span ~ 4 часа
                                .top__text 
                                    .bl 
                                        p Регулярность
                                        span#regulirity 
                            .top__text.bord 
                                .bl 
                                    p Стоимость первой уборки
                                    span#global_sum_result
                                .bl
                                    p#regulirity2
                                    span#discount
                            .top__bottomtext
                                span К оплате
                                p#global_sum_result2
                                    //- | 499
                                    //- span грн.
                                        
                            .top__link  
                                a(href="#") У меня есть промокод

                        .bottom
                            .bottom__title
                                p Как это работает
                            .bottom__text
                                p Клинер приезжает в оговоренное время с полным набором необходимых материалов и химии, Вас просим подготовить только пылесос.
                            .bottom__title
                                p Как оплатить
                            .bottom__text
                                p Банковской картой, которую можно изменить в Личном Кабинете. Оплата будет списана только после ухода исполнителя.

        section 
            .wrapper
                .section_twoo
                    .title
                        p Дополнительные опции:
                    .section_twoo__blockblocks
                        //- .section_twoo__blockitem
                        //-     .section_twoo__img.pos1
                        //-         img(src="./images/dop1.png", alt="")
                        //-     .section_twoo__text
                        //-         p Холодильник
                        //- .section_twoo__blockitem
                        //-     .section_twoo__img.pos1
                        //-         img(src="./images/dop2.png", alt="")
                        //-     .section_twoo__text
                        //-         p Духовка
                        //- .section_twoo__blockitem
                        //-     .section_twoo__img.pos3
                        //-         img(src="./images/dop3.png", alt="")
                        //-     .section_twoo__text
                        //-         p Внутри микроволновки
                        //- .section_twoo__blockitem
                        //-     .section_twoo__img.pos1 
                        //-         img(src="./images/dop4.png", alt="")
                        //-     .section_twoo__text
                        //-         p Вытяжка
                        //- .section_twoo__blockitem
                        //-     .section_twoo__img.pos5  
                        //-         img(src="./images/dop5.png", alt="")
                        //-     .section_twoo__text
                        //-         p Внутри кухонных шкафов
                        //- .section_twoo__blockitem
                        //-     .section_twoo__img.pos1  
                        //-         img(src="./images/dop6.png", alt="")
                        //-     .section_twoo__text
                        //-         p Окна
                        //- .section_twoo__blockitem
                        //-     .section_twoo__img.pos7   
                        //-         img(src="./images/dop7.png", alt="")
                        //-     .section_twoo__text
                        //-         p Балкон
                        //- .section_twoo__blockitem
                        //-     .section_twoo__img.pos1  
                        //-         img(src="./images/dop8.png", alt="")
                        //-     .section_twoo__text
                        //-         p Глажка
                        //- .section_twoo__blockitem
                        //-     .section_twoo__img.pos1  
                        //-         img(src="./images/dop9.png", alt="")
                        //-     .section_twoo__text
                        //-         p Мытье посуды
                        label
                            input(type="checkbox" value='100' class="dishes" data-time="5")
                            .section_twoo__blockitem#check1
                                .section_twoo__img.pos1
                                    img(src="./images/dop1.png", alt="")
                                .section_twoo__text
                                    p Холодильник
                        label
                            input(type="checkbox" value='100' class="dishes")
                            .section_twoo__blockitem#check2
                                .section_twoo__img.pos1
                                    img(src="./images/dop2.png", alt="")
                                .section_twoo__text
                                    p Духовка
                        label
                            input(type="checkbox" value='100' class="dishes")
                            .section_twoo__blockitem#check3
                                .section_twoo__img.pos3
                                    img(src="./images/dop3.png", alt="")
                                .section_twoo__text
                                    p Внутри микроволновки
                        label
                            input(type="checkbox" value='100' class="dishes" data-time="5")
                            .section_twoo__blockitem#check4
                                .section_twoo__img.pos1 
                                    img(src="./images/dop4.png", alt="")
                                .section_twoo__text
                                    p Вытяжка
                        label
                            input(type="checkbox" value='100' class="dishes")
                            .section_twoo__blockitem#check5
                                .section_twoo__img.pos5  
                                    img(src="./images/dop5.png", alt="")
                                .section_twoo__text
                                    p Внутри кухонных шкафов
                        label
                            //- input(type="checkbox" value='100' class="dishes")
                            .section_twoo__blockitem#check6
                                .section_twoo__img.pos1  
                                    img(src="./images/dop6.png", alt="")
                                .section_twoo__text
                                    p Окна
                            .selectwindow
                                select.select.select1#selectmin1
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                    option(value="6") 6
                                    option(value="7") 7
                                    option(value="8") 8
                                    option(value="9") 9
                                    option(value="10") 10
                                    option(value="11") 11
                                    option(value="12") 12
                                    option(value="13") 13
                                    option(value="14") 14
                                    option(value="15") 15
                                    option(value="16") 16
                                    option(value="17") 17
                                    option(value="18") 18
                                    option(value="19") 19
                                    option(value="20") 20
                        label
                            //- input(type="checkbox" value='100' class="dishes" data-time="5")
                            .section_twoo__blockitem#check7
                                .section_twoo__img.pos7   
                                    img(src="./images/dop7.png", alt="")
                                .section_twoo__text
                                    p Балкон
                            .selectwindow
                                select.select.select2#selectmin2
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                    option(value="6") 6
                                    option(value="7") 7
                                    option(value="8") 8
                                    option(value="9") 9
                                    option(value="10") 10
                                    option(value="11") 11
                                    option(value="12") 12
                                    option(value="13") 13
                                    option(value="14") 14
                                    option(value="15") 15
                                    option(value="16") 16
                                    option(value="17") 17
                                    option(value="18") 18
                                    option(value="19") 19
                                    option(value="20") 20
                        label
                            //- input(type="checkbox" value='100' class="dishes")
                            .section_twoo__blockitem#check8
                                .section_twoo__img.pos1  
                                    img(src="./images/dop8.png", alt="")
                                .section_twoo__text
                                    p Глажка
                            .selectwindow
                                select.select.select3#selectmin3
                                    option(value="1") 30 минут
                                    option(value="2") 45 минут
                                    option(value="3") 60 минут
                        label
                            //- input(type="checkbox" value='100' class="dishes")
                            .section_twoo__blockitem#check9
                                .section_twoo__img.pos1  
                                    img(src="./images/dop9.png", alt="")
                                .section_twoo__text
                                    p Мытье посуды
                            .selectwindow
                                select.select.select4#selectmin4
                                    option(value="1") 30 минут
                                    option(value="2") 45 минут
                                    option(value="3") 60 минут

        section
            .wrapper
                .section_three
                    .blockcard
                        .title
                            p Информация об оплате:
                        .buttoncheck
                            .buttoncheck__but1
                                span#btn1 Оплата картой :
                            .buttoncheck__but2
                                span.noneactive#btn2 Оплата наличными :
                        .card#card
                            .blockcard__inputblock
                                input(type="text")
                                button.btnhover
                                    span добавить карту
                            .blockcard__description
                                .blockcard__descriptionimg
                                    p i
                                .blockcard__descriptiontext
                                    p За сутки до уборки на Вашем счету будет заблокирована полная стоимость заказа. В этот момент Вы можете получить SMS о том, что сумма списана так как у большинства банков нет специального уведомления о блокировке средств. На самом деле средства списываются только после уборки.
                        .nal.disp#nal
                            p
                                | Приготовьте сумму к оплате
                                span#global_sum_result3 876
                                | грн.
                    .blockcomment
                        .title
                            p коментарий к заказу:
                        .blockcomment__input
                            textarea(type="text" placeholder="Ваш комментарий")
                    .blockbutton
                        button.btnhover(tupe="submit")#submit
                            span создать Заказ  

        .section_one__right.adaptvisibl
            .wrapper
                .top#aside1
                    .top__title
                        p Уборка квартиры с 1 жилой и 1 ванной комнатами
                    .top__blocktext
                        .top__text 
                            .bl 
                                p Дата уборки
                                span Ср 26 Сен 09:00
                        .top__text  
                            .bl
                                p Время уборки
                                span ~ 4 часа
                        .top__text 
                            .bl 
                                p Регулярность
                                span#regulirity3 
                    .top__text.bord 
                        .bl 
                            p Стоимость первой уборки
                            span#global_sum_result4
                        .bl
                            p#regulirity4
                            span#discount2
                    .top__bottomtext
                        span К оплате
                        p#global_sum_result5
                            //- | 499
                            //- span грн.
                                
                    .top__link  
                        a(href="#") У меня есть промокод

                .bottom
                    .bottom__title
                        p Как это работает
                    .bottom__text
                        p Клинер приезжает в оговоренное время с полным набором необходимых материалов и химии, Вас просим подготовить только пылесос.
                    .bottom__title
                        p Как оплатить
                    .bottom__text
                        p Банковской картой, которую можно изменить в Личном Кабинете. Оплата будет списана только после ухода исполнителя.



        include ../common/footer.pug


        include ../common/popap.pug

        include ../common/script.pug
    script.
        


            var btn1 = document.getElementById('btn1');
            var btn2 = document.getElementById('btn2');
            var card = document.getElementById('card');
            var nal = document.getElementById('nal');
            var block1 = document.getElementById('block1');
            var block2 = document.getElementById('block2');
            var block3 = document.getElementById('block3');

            btn1.addEventListener('click', function () {
                btn2.classList.add('noneactive');
                btn1.classList.remove('noneactive');
                nal.classList.add('disp');
                card.classList.remove('disp');
            });


            btn2.addEventListener('click', function () {
                btn1.classList.add('noneactive');
                btn2.classList.remove('noneactive');
                nal.classList.remove('disp');
                card.classList.add('disp');
            });

            block1.addEventListener('click', function () {
                block1.classList.add('activblock');
                block2.classList.remove('activblock');
                block3.classList.remove('activblock');
            });

            block2.addEventListener('click', function () {
                block2.classList.add('activblock');
                block1.classList.remove('activblock');
                block3.classList.remove('activblock');
                
            });

            block3.addEventListener('click', function () {
                block3.classList.add('activblock');
                block2.classList.remove('activblock');
                block1.classList.remove('activblock');
                
            });


            var check1 = document.getElementById('check1');
            var check2 = document.getElementById('check2');
            var check3 = document.getElementById('check3');
            var check4 = document.getElementById('check4');
            var check5 = document.getElementById('check5');
            var check6 = document.getElementById('check6');
            var check7 = document.getElementById('check7');
            var check8 = document.getElementById('check8');
            var check9 = document.getElementById('check9');
            var selectmin1 = document.getElementById('selectmin1');
            var selectmin2 = document.getElementById('selectmin2');
            var selectmin3 = document.getElementById('selectmin3');
            var selectmin4 = document.getElementById('selectmin4');

                check1.addEventListener('click', function () {
                check1.classList.toggle('checkactive');
            });

            check2.addEventListener('click', function () {
                check2.classList.toggle('checkactive');
            });

            check3.addEventListener('click', function () {
                check3.classList.toggle('checkactive');
            });

            check4.addEventListener('click', function () {
                check4.classList.toggle('checkactive');
            });

            check5.addEventListener('click', function () {
                check5.classList.toggle('checkactive');
            });

            check6.addEventListener('click', function () {
                check6.classList.toggle('checkactive');
                selectmin1.classList.toggle('selecton');
            });

            check7.addEventListener('click', function () {
                check7.classList.toggle('checkactive');
                selectmin2.classList.toggle('selecton');
            });

            check8.addEventListener('click', function () {
                check8.classList.toggle('checkactive');
                selectmin3.classList.toggle('selecton');
            });

            check9.addEventListener('click', function () {
                check9.classList.toggle('checkactive');
                selectmin4.classList.toggle('selecton');
            });




            
      