.hoadercontent{
    border-bottom: 1px solid  rgba(166, 184, 211, 0.8);
    width: 100vw;
    z-index: 1000000000;
    // position: relative;
    position: fixed;
    background-color: white;
    .wrapper{
        padding: 0 0 0 63px;
    }
    &_blu{
        position: fixed;
        // background-color: rgba(33, 81, 152, 0.8);
        // border-bottom: 1px solid  red;
        background-color: #4268a1;
    }
}

.header{
    padding: 28px 0 15px 0;
    display: flex;
    justify-content: space-between;
    &__left{
        width: 23%;
    }
    &__logo{
        a{
            text-decoration: none;
            font-size: 20px;
            font-weight: 700;
            line-height: 18px;
            color: $maintext;
            svg{
                height: 100px;
                width: 120px;
                position: absolute;
                left: 12px;
                fill: $white;
                top: -8px;
            }
        }
    }
    .orderlogo{
        svg{
            fill: $buttoncolor;
        }
    }
    &__right{
        width: 80%;
        display: flex;
        justify-content: flex-end;
        .menu{
            display: flex;
            width: 50%;
            justify-content: space-between;
            padding-right: 30px;
            &__paragraph{
                a{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 47.99px;
                    text-decoration: none;
                    color: $maintext;
                    text-transform: uppercase;
                }
                &_color{
                    a{
                        color: $white;
                    }
                }
                
            }

        }
        .number{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            &__1{
                font-size: 30px;
                font-weight: 800;
                text-decoration: none;
                color: $bordercolor;
                &_color{
                    color: $white;
                }
            }
            &__2{
                font-size: 10px;
                font-weight: 400;
                color: $maintext;
                &_color{
                    color: $white;
                }
            }
        }
    }
  
}


// adapt menu

.adaptmenu{
    transform: translateX(100%);
    transition: 1s;
    width: 55vw;
    background-color: white;
    height: 78vh;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    &__paragraph{
        justify-content: space-around;
        height: 80%;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 80px;
        a{
            text-decoration: none;
            font-size: 16px;
            color: $maintext;
        }
        .close{
            background: url(../images/cancel.svg) center/100% no-repeat;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 10px;
            top: 10px;
        }
    }
}

.visibladaptmenu{
    transform: translateX(0%);
    transition: 1s;
}

@media all and (max-width: 1250px){
    .hoadercontent{
        .wrapper{
            padding: 0;
        }
        .header{
            // &__left{
            //     width: auto;
            // }
            .menu{
                width: auto;
                flex: 1;
            }
        }
    }
}

@media all and (max-width: 920px){
    .header{
        .number{
            display: none;
        }
        .menu{
            padding-left: 20px;
        }
    }
}

@media all and (max-width: 600px) {
    .header{
        .menu{
            display: none;
        }
    }
    .btnadapt{
        padding-right: 20px;
        display: block;
        .svg{
            width: 40px;
            fill: $white;
            height: 43px;
        }
        .svg2{
            fill: black;
        }
    }

}