.wrapper{
    width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
 
}  

@media all and (max-width: 1250px){
    .wrapper{
        width: 94vw;
        padding: 0 16px;
        margin: 0 auto;
        position: relative;
     
    }  
}




